@import '../../includes/ChurchPlugins/assets/scss/vars';
@import '../../includes/ChurchPlugins/assets/scss/mixins/breakpoints';
@import '../../includes/ChurchPlugins/assets/scss/elements/button';

@import "components/widget";
@import "components/archive";
@import "components/filter";

.cp-resources-template {
	max-width: 100%;
	width: var( --cp-content-width );
	padding: var(--cp-content-padding);
	margin: auto;
}
