.cp-resources-archive {

	&--list {
		display: grid;
		column-gap: var(--cp-gap--md);
		row-gap: var(--cp-gap--md);
		grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));

		&--item {
			padding: var(--cp-gap--sm);
			box-shadow: var(--cp-box-shadow);
			cursor: pointer;

			&:hover {
				box-shadow: var(--cp-box-shadow--lg);
			}
		}
	}

	.navigation {
		margin-top: var(--cp-gap--md);
		text-align: center;
	}

}

.cp-resources-list-resource {
	display: grid;
	column-gap: var(--cp-gap--md);
	grid-template-columns: minmax(5rem, 33%) 1fr;
	height: 100%;
	align-items: center;

	&--thumb {
		grid-column: 1;
	}

	&--main {
		grid-column: 2;

		> *:last-child {
			margin-bottom: 0;
		}
	}

	&--title {
		font-size: var(--cp-font-size-h5);
		text-transform: uppercase;
		margin-bottom: var(--cp-gap-base);

		a {
			text-decoration: none;
		}
	}

	&--type {
		font-size: var(--cp-font-size--md);
	}
}
