.cp-resources-filter {

	&--form {
		display: flex;
		justify-content: flex-start;
		flex-flow: row wrap;
		border-bottom: 1px solid;
		margin-bottom: var(--cp-gap--sm);

		> * {
			margin-bottom: var(--cp-gap--sm);

			&:not(:last-child) {
				margin-right: var(--cp-gap--sm);
			}
		}

		.filter__button {
			button {
				color: inherit;
			}
		}
	}

	&--has-dropdown {
		position: relative;

		&.open {
			.cp-resources-filter--dropdown {
				display: block;
			}
		}
	}

	&--dropdown-button {
		svg, .material-icons-outlined {
			display: none;
			margin: -0.25em -0.25em -0.25em 0.25em;
		}

		&:after {
			content: '\e313';
			font-family: 'Material Icons Outlined';
			font-size: 1.5em;
			line-height: .75em;
			margin: -0.25em -0.25em -0.25em 0.25em;
		}
	}

	&--dropdown {
		display: none;
		background: white;
		padding: var(--cp-gap--sm) var(--cp-gap--md);
		box-shadow: var(--cp-box-shadow);
		border-radius: .5em;
		margin-top: .25em;
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		z-index: 5555;
		width: calc( 100% + var(--cp-gap--md) * 2 );
		margin-left: calc(var(--cp-gap--md) * -1);
		max-height: 50vh;
		overflow: scroll;

		label {
			display: block;
			cursor: pointer;
			white-space: nowrap;
		}
	}

	&--search {
		margin-right: 0;
		margin-left: auto !important;

		@include media-breakpoint-down(md) {
			flex-grow: 1;
		}

		&--box {
			background: white;
			display: flex;
			align-items: center;
			padding: var(--cp-button--padding);
			border-radius: var(--cp-border-radius);
			border: 1px solid var(--cp-color-text-disabled);
			line-height: var(--cp-button--line-height);
			height: 100%;

			svg, button {
				padding: 0;
				margin: 0 .5em 0 0;
				background: transparent;
				color: inherit;
				border: none;

				> * {
					display: block;
				}
			}

			input[type=text] {
				width: 8em;
				height: 1em;
				padding: 0;
				background: transparent;
				border: none !important;
				outline: none !important;
				box-shadow: none !important;
			}
		}
	}

	&--filters {
		display: flex;
		margin-bottom: 2rem;

		&--filter {
			border: 1px solid;
			border-radius: 20px;
			display: inline-flex;
			padding: 0 .5em;
			margin-right: .5em;
			text-decoration: none;

			&:before {
				content: '\e5cd';
				font-family: 'Material Icons Outlined';
				margin: 0 0.25em 0 -0.25em;
			}
		}
	}
}
